node_modules
dist
build
.svelte-kit
.turbo
coverage
.env
.env.*
!.env.example
.cre_build_tmp*
*.local
.pnpm-store
*.db
*.db-shm
*.db-wal
*.sqlite
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
.live-stack
